開発
site
.sass-cache

screen_shot
screen_record

# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build
xcuserdata
DerivedData

# Node
# https://github.com/github/gitignore/blob/master/Node.gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
